services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: admin
      POSTGRES_USER: admin
      POSTGRES_DB: gamemarket_db
    ports:
     - "5435:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d eshop"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s
    volumes:
      - "pgdata:/var/lib/postgresql"

  adminer:
    image: adminer
    restart: always
    ports:
      - 8001:8080
    depends_on:
      db:
        condition: service_healthy

  kurs:
    image: ghcr.io/stee1hunter/kurs2:latest
    restart: always
    ports:
      - 8000:8000
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - "kursdata:/app/media"
      
volumes:
  pgdata:
  kursdata: